$planet-clr-1: #242424;
$planet-clr-2: rgb(229, 248, 118);
$planet-clr-3: rgb(255, 215, 0);
$planet-clr-white: #ffffff;
$planet-clr-black: #0b0d17;

$primary: #242424;
$secondary: $planet-clr-white;
$success: #79ff68;
$info: #65ceff;
$warning: #e5b65a;
$danger: #e45b5d;
// $light: $planet-clr-6;
// $dark: $gray-900;

$black: #000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$white: #fff;

// FONTS PLANET
$planet-ff-primary: 'Anton', sans-serif;
$planet-ff-secondary: Segoe UI, sans-serif;
$planet-ff-serif: 'Anton', sans-serif;

/* OVERRIDES FONTS */
$font-family-sans-serif: $planet-ff-primary;
$font-family-monospace: $planet-ff-secondary;

// SHADOWS
$coffee-shdw-1: 0 5px 15px rgba(0, 0, 0, 0.2);
$coffee-shdw-2: 0 5px 15px rgba(0, 0, 0, 0.1);
$coffee-shdw-3: 0 5px 10px rgba(0, 0, 0, 0.05);

// GRID OVERRIDES
$grid-gutter-width: 0rem;

// ACCORDION OVERRIDES
$accordion-icon-color: $planet-clr-1;
$accordion-icon-active-color: $secondary;
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}'><path fill-rule='evenodd' d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/><path d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/></svg>");

// OVERRIDES NAVBAR FONT COLOR
$body-color: black;
$navbar-light-color: black;
$navbar-light-hover-color: $planet-clr-white;
$navbar-light-active-color: $planet-clr-1;
$navbar-light-disabled-color: #ced4da;
/* $navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") ; */
$navbar-light-toggler-border-color: transparent;

// OVERRIDES NAVBAR
$navbar-dark-color: white;
$navbar-dark-hover-color: white;
$navbar-dark-active-color: white;
$navbar-dark-disabled-color: white;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
$navbar-dark-toggler-border-color: transparent;
$btn-close-color: white;

// OVERRIDES TABS
$nav-tabs-border-color: #ced4da;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: none;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: none;

// OVERRIDES LISTS
$list-group-color: $gray-900;
$list-group-bg: $white;
$list-group-border-color: transparent;
$list-group-border-width: 1px;
$list-group-border-radius: 0;

$list-group-hover-bg: $gray-100;
$list-group-active-color: black;
$list-group-active-bg: white;
$list-group-active-border-color: transparent;

$list-group-disabled-color: black;
$list-group-disabled-bg: #{bg-item-glass};

$list-group-action-color: black;
$list-group-action-hover-color: black;

$list-group-action-active-color: $black;
$list-group-action-active-bg: $gray-200;

// COLORS

$clr-black: #0d0b14;
$clr-primary: #635bff;
$clr-secondary: #6c757d;
$clr-success: #79ff68;
$clr-info: #65ceff;
$clr-warning: #e5b65a;
$clr-danger: #e45b5d;
$clr-dark: #212529;
$clr-light: #f1f1f1;
$clr-shadow-dark: #1a1a1a;
$clr-shadow-light: #222222;
$clr-bg: #222222;

.bg-dark-b {
  background-color: $clr-black;
}

html {
  background-color: $clr-black;
}

// html {
//   --s: 50px;
//   /* control the size */
//   --c1: #171717;
//   --c2: #0d0b14;
//   --_g:
//     var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
//     var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;
//   background:
//     radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), #0008 96%, #0000),
//     radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96%) var(--c1);
//   background-size: var(--s) var(--s);
// }

a {
  font-size: 2rem;
  padding: 1rem;
}

a,
li {
  list-style: none;
}

#inputLength {
  color: $clr-black;
  background-color: $clr-danger;
  font-family: 'Anton', sans-serif;
  border: 0;
  text-align: center;
  justify-content: center;
}

#inputLength::placeholder {
  color: $clr-dark;
}

#inputLength:active::placeholder {
  color: transparent;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.input-group {
  gap: 1rem;
}

#codeTxt {
  font-family: Segoe UI, sans-serif;
  cursor: pointer;
}

.section-container__code-img {
  padding-top: rem;
  width: 100%;
  height: 40vh;
  object-fit: cover;
  // z-index: -1;
}

.section-container__code-img--b {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  // position: fixed;
  bottom: 0;

}

// OVERRIDES FORMS
.form-control {
  border: 0;
  /*   border-bottom: 1px solid $coffee-clr-2; */
}

.section-container__code {
  background-color: $clr-black;
  // padding: 2rem 5rem;
  // border-radius: 1rem;
  // box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
  // -webkit-box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
  // -moz-box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100vh;
}

.section-container__code-code {
  margin-top: 30vh;
  height: 60vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.section-container__code-text {
  height: 40vh;
  width: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.navbar-dark {
  background-color: $clr-black;
  box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 69px 0px rgba(0, 0, 0, 0.75);
}

h3 {
  letter-spacing: 0.07em;
  color: $clr-info
}

.text-success {
  color: $clr-success;
}

#messageCopied {
  font-family: $planet-ff-secondary;
  padding-top: 1rem
}

//<<<IMPORT BOOTSTRAP 5

// IMPORT BOOTSTRAP (los imports deben ir al final para que
// se carguen primero las variables del custom

@import '../node_modules/bootstrap/scss/bootstrap.scss';