@use '../custom' as *;

body {
  font-family: $coffee-ff-primary;
}

/* START HERO COFFEE */

.showcase {
  font-family: $coffee-ff-primary;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100vh;
  padding: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $coffee-clr-white;
  transition: 0.5s;
  z-index: 2;
}

.text {
  font-family: $coffee-ff-primary;
  position: relative;
  z-index: 10;
  h2 {
    font-size: 3em;
    font-weight: 800;
    color: $coffee-clr-white;
    line-height: 1em;
    text-transform: uppercase;
  }
  h3 {
    font-size: 2em;
    font-weight: 700;
    color: $coffee-clr-5;
    line-height: 1.2em;
    text-transform: uppercase;
  }
  button {
    display: inline-block;
    font-size: 1em;
    background: transparent;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: $coffee-clr-white;
    letter-spacing: 2px;
    transition: 0.2s;
    border: 1px solid transparent;
  }
  a:hover {
    background: transparent;
    color: $coffee-clr-white;
    border: 1px solid $coffee-clr-white;
  }

  i {
    font-size: 1.2em;
    color: $coffee-clr-white;
    margin: 20px 0;
    font-weight: 300;
    max-width: 700px;
    letter-spacing: 0.025em;
  }
}
.txt {
  font-size: 1.2rem;
  line-height: 1.5em;
  letter-spacing: $coffee-fs-spacing-sm;
  i {
    color: gold;
  }
}
.btnDesafio {
  border: 2px solid white;
}
.social {
  position: absolute;
  z-index: 10;
  bottom: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    list-style: none;
  }
  li a {
    display: inline-block;
    margin-right: 20px;
    color: $coffee-clr-white;
    transform: scale(0.5);
    transition: $coffee-transit-2;
    font-size: 3em;
  }
  li a:hover {
    transform: scale(0.5) translateY(-15px);
  }
}

section {
  video {
    object-fit: cover;
  }
}

@media (max-width: 1300px) {
  .showcase {
    /* padding: 40px;
    height: 100vh; */

    video {
      /*     background: url('../assets/vid/coffee.mp4'); */
      object-fit: cover;
      background-size: 80%;
      min-height: 100%;
    }
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
/* END HERO COFFEE */

/* _COFEE.SCSS - VIDEO SETTINGS*/

// .box {
//   position: relative;
//   justify-content: center;
//   min-height: 100vh;
//   color: #fff;
//   text-align: center;
// }
// .box video {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
//   z-index: -1;
// }
// // /* _COFEE.SCSS - MEDIA QUERIES */

// @media (max-width: 800px) {
//   .box {
//     min-height: 600px;
//   }
//   .box h1 {
//     font-size: 32px;
//   }
//   .box h3 {
//     font-size: 20px;
//   }
//   .box a.boxBtn {
//     padding: 15px 40px;
//   }
// }

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 35px 100px 0;
}
