@use '../custom' as *;
@use '../components/typography' as *;

// .btn {
//   border-radius: 0;
//   box-shadow: none;
//   border: 1px solid transparent;
//   box-shadow: none;
//   color: white;
//   text-transform: uppercase;
//   font-family: $planet-ff-secondary;
//   font-weight: 500;
//   letter-spacing: $planet-fs-spacing-sm;
//   &:hover {
//     color: white;
//     border: 1px solid white;
//   }
// }
.btn-actions {
  border-radius: 0;
  box-shadow: none;
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.4rem 1rem;
  box-shadow: none;
  color: white;
  text-transform: uppercase;
  font-family: $planet-ff-secondary;
  font-weight: 400;
  letter-spacing: $planet-fs-spacing-sm;

  &:hover {
    color: $planet-clr-2;
    border: 1px solid $planet-clr-2;
  }
}

.btn-actions__new {
  background-color: $clr-warning;
  border-radius: 0;
  letter-spacing: 0.07em;
}

.btn-actions__new:hover {
  background-color: #ffaa00;
  color: $clr-black;
}

.btn-actions__copy {
  background-color: $clr-success;
  border-radius: 0;
  letter-spacing: 0.07em;
}

.btn-actions__copy:hover {
  background-color: #1eff00;
  color: $clr-black
}

.btn-desafio-planet {
  @extend .btn-actions;
  border: 1px solid white;
}

.icon-social__i {
  width: 2.5rem;
  height: 2.5rem;
  letter-spacing: 0.07em;

}