@use '../custom' as *;
@use '../components/colors' as *;
@use '../components/typography' as *;

// NAVBAR

nav {
  // box-shadow: $planet-shdw-3;
  a {
    text-decoration: none;
    letter-spacing: $planet-fs-spacing-sm;
  }
  li {
    list-style: none;
  }
  .navbar-toggler {
    color: white;
    border-color: transparent;
  }
}

.tabIcons {
  color: rgba(255, 255, 255, 0.7);

  &:hover {
    color: white;
  }
  &:focus {
    color: $planet-clr-3;
  }
}
.active {
  .tabIcons {
    color: $planet-clr-2;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.3em;
      padding: auto;
      width: 102%;
      height: 3px;
      background-color: $planet-clr-2;
    }
    &:hover {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
.navProductos {
  font-size: 0.8rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    padding: auto;
    width: 100%;
    height: 1px;
    //background-color: $planet-clr-7;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: 50%;
    transition: transform 250ms ease-in;
  }
  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}
.navProductos-wrap {
  border-top: 1px solid $gray-500;
  border-bottom: 1px solid $gray-500;
  color: black;
}

.color-glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 0;
  border: 1px solid transparent;
  &:active {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(255, 255, 255, 1);
  }
}

.bg-item-glass {
  @extend .color-glass;
  color: black;
}

// $list-group-border-radius: 0;
// $list-group-bg: #{bg-item-glass};
// $list-group-hover-bg: $planet-clr-1;
// $list-group-active-color: rgba(255, 255, 255, 0.6);
// $list-group-active-bg: #{bg-item-glass};
